<h2 class="ui center aligned medium icon header">
  <i class="circular coffee icon orange"></i>
  Welcome to chat
</h2>
<%= will_paginate @messages %>
<br>
<%= session[:user_id] %>
<br>
<div class="ui two column grid">
  <div class="twelve wide column">
    <div class="ui fluid card chat-box main-color">
      <div class="content">
        <div class="ui large feed">

          <%= render 'message/message' %>

        </div>
      </div>
      <div class="extra content ">
        <form class="ui reply form">
          <div class="ui fluid action input ">
            <input type="text" placeholder="Message...">
            <div class="ui orange button">
              <i class="keyboard icon"></i>
              Enter
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui card chat-box main-color">
      <div class="content">
        <div class="ui inverted vertical menu">
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
