<div class="ui grid signup-card">
  <div>
    <div class="ui fluid  main-color">
      <%= render 'users/form' %>
    </div>
    <div class="ui fluid  main-color card">
      <%= render 'shared/errors', obj: @user %>
    </div>
  </div>

  <div id="icon-container">
    <div id='cup-body-2'></div>
    <div id='cup-body-3'></div>
    <div id="cup-body"></div>

  </div>
</div>
