<div class="message_content">
  <% flash.each do |name, msg| %>
    <div class="ui message huge
      <%= name %>" data-controller="message" data-message-target="message_item">
      <%= msg %>
    </div>
  <% end %>
</div>