@import "semantic-ui";

.chat-box {
  height: 450px;
  overflow: auto;
  align-items: center;
}

.main-color, body {
  background-color: #534848 !important;
}

.message_content {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  div {
    cursor: pointer;
  }
}

.summary_text {
  border-radius: 5px;
  background-color: #6E3F3F;
  width: fit-content;
  padding: 2px;
  div{
    white-space: pre-wrap;
  }
}
.center-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
