@import "semantic-ui";

.chat-box {
  height: 450px;
  overflow: auto;
  align-items: center;
}

.main-color, body {
  background-color: #534848 !important;
}

.message_content {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  div {
    cursor: pointer;
  }
}

.close {
  opacity: 0;
  transition: 2s !important;
}

.menu {
  button {
    width: 100%;
    border: none;
    margin: 0;
    text-align: left;
    font-size: 1em !important;
    padding: 0.78571429em 1.14285714em !important;
    background: transparent !important;
    color: rgba(0, 0, 0, 0.87) !important;
    text-transform: none !important;
    font-weight: normal !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }

  button:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.05) !important;
    color: rgba(0, 0, 0, 0.95) !important;
  }
}

.summary_text {
  border-radius: 5px;
  background-color: #6E3F3F;
  width: fit-content;
  padding: 2px;
}
.center-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}