<div class="ui small menu inverted">
  <div class="ui container">
    <a class="item">
      Home
    </a>
    <a class="item">
      Messages
    </a>
    <div class="right menu">
      <div class="ui dropdown item">
        Language <i class="angle double down icon"></i>
        <div class="menu">
          <a class="item">log in</a>
          <a class="item">Logout</a>
          <a class="item">Sign up</a>
        </div>
      </div>
      <div class="item">
        <div class="ui primary button">Sign Up</div>
      </div>
    </div>
  </div>
</div>